.consumer_work_hero{
    background-image: url('/work_con.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 54px;

}
.consumer_work_text{
    text-align: center;
   
}
.consumer_work_head{
    font-weight: 700;
    font-size: 52px;
    line-height:  64px;
}
.consumer_work_sub{
    font-size: 18px;
    font-weight: 400;
}
.cons_button{
    
}