$themegreen: #2FA500;

.blog_header {
    font-size: 40px;
    font-weight: 600;
    margin-top: 48px;
    text-align: center;
}

.blog_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FDF7;
    margin-bottom: 24px;
}

.blog_input {
    margin-bottom: 90px;
}

.blog_head {
    margin-left: auto;
    margin-right: auto;
}


.blog_search {
    height: 48px;
    width: 50px;
    background-color: $themegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog_in {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: #DFDFDF 1px solid;
    width: 554px;
    height: 48px;
}

.blog_post {
    margin-left: 2%;
    margin-right: 2%;
}

.nav_Arrow {
    transform: rotate(180deg);
    width: 13px;
    height: 13px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;

}

.blog_present {
    color: #0D0D0D;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.article_header {
    font-size: 32px;
    font-weight: 600;
    margin-top: 35px;
}

.article_content {
    margin-right: 130px;
    font-size: 16px;
}

.article_cartegory {
    margin-top: 14px;
    margin-bottom: 24px;
    color: #5E5E5E;
    font-size: 14px;
}

.aricle_titled_head {
    font-weight: 500;
}

.iron {
    height: 595px;
    width: 611px;
    border-radius: 8px;
}

.glue {
    width: 622px;
    height: 289px;
    border-radius: 8px;
    z-index: 0;

}

.article_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capenter {
    height: 289px;
    width: 292px;
    border-radius: 8px;
}

.blog_service_professional {
    color: black;
    background-color: white;
    margin-bottom: 12px;
    width: 150px;
    height: 27px;
    border-radius: 3px;
}

.blog1 {
    color: black;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 12px;
    width: 150px;
    height: 27px;
    border-radius: 3px;
}

.blog_list {
    margin-top: 64px;
}

.blog_post_header {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #FCFCFC;
}

.blog_post_text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 26px;
    color: #C4C4C4;
}

.blog_post_text_list {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 26px;
    color: #4B4B4B;
}

.blog_list_sub {
    font-size: 16px;
    font-weight: 400;
}

.blog_list_header {
    font-size: 18px;
    font-weight: 700;
}

.check_list {
    border-radius: 4px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border: #DFDFDF 1px solid;
}

.blogpost_list {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 40px;
}

.blog_post_text_glue {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #C4C4C4;
}

.blog_titles {
    position: relative;
    bottom: 120px;
    margin-left: 30px;
}

.gluebox {
    position: relative;
}

.glue_title {
    position: absolute;
    bottom: 0;
    left: 100;
    z-index: 1;
    /* Add any other styles for the glue_title div */
}

.blog_button {
    color: $themegreen;
    width: 179px;
    height: 48px;
    border: 1px solid $themegreen;
    border-radius: 5px;

}

.chldfilter {
    margin-top: 32px;
}

.blog_button_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.child_filter {
    font-size: 20px;
    font-weight: 500;
}

.hiring_small_link {
    color: #5E5E5E;
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (min-width: 1440px) {
    .blog_post {
        margin-right: 10%;
        margin-left: 10%;

    }
}

.article_icon {
    height: 30px;
    width: 30px;
    margin-right: 19px;
}

.harmer {
    margin-bottom: 35px;
}

.share {
    padding: 24px;
    width: 300px;
}

.share_text {
    margin-bottom: 12px;
}

.offer_service {
    margin-top: 35px;
    padding: 40px 24px;
}

.offer_your_services {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
}

.cta_professinal {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-size: 14px;
    font-weight: 600;
    background-color: $themegreen;
    height: 32px;
    padding-top: 5px;
    border-radius: 5px;
    width: 244px;
}

.professiona_cta {
    background-color: #F6F6F6;


}

.plumm{
    max-width: 600px;
}
.shade_price {
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 187px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 5px 5px;
}

.cta_pro_text {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.offer_your_services_subtext {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}

.key_point {
    max-width: 800px;
}

.professiona_post {
    background-color: #F9FDF7;
}