.connect_bg{
    background-image: url('/shake.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 104px;
}
.connect_head{
    color: white;
    font-size: 52px;
    font-weight: 700;
}
.connect_Sub{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.conntect_toggle{
 font-size: 17px;
 font-weight: 500;   
}
.toggle_options_connect{
    margin-top: 57px;
}