.earn_bg {
    background-image: url('/screen.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 104px;
}
.information{
    margin-top: 64px;
  font-size: 32px;
  font-weight: 700;  
}
.info_text{
    font-size: 20px;
    font-weight: 700;
    
}
.info_text_head{
font-size: 20px;
font-weight: 700;
}
.afil_card{
    max-width: 400px;
}
.affiate{
    font-size: 20px;
    font-weight: 700;
}
.handy_text{
    padding: 50px 100px 80px;
}