* {
    margin: 0;
    border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main_header {
 
}

.sub_header {
    height: 64px;
    padding-bottom: 50px;
}
.searching::placeholder {
    margin-left: 15px;
  }
.logo {
    height: 37px;
    margin-top: 28px;
}

.headBar {
    margin-left: 68px;
    border: 1px solid #DFDFDF;
    height: 48px;
    margin-top: 20px;
}
.line{
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #DFDFDF;

}
.header_bar {
    height: 40px;
    margin-top: 28px;
    border: 1px solid black;
}

.users {
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}

.pro {
    margin-right: 59px;
}

.sub_menu_bar {
    margin-left: 58px;
}

.sub_head_text {
    padding-top: 28px;
    font-weight: 600;
}

.sub_action {
    padding-top: 20px;
    font-weight: 600;
}

.sub_icon {
    height: 23px;
    width: 23px;
}

.post {
    height: 40px;
    color: white;
    width: 127px;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 6px;
    margin-left: 50px;
}

.account {
    margin-left: 50px;
}
.arrow{
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    margin-left: 12px;
    margin-top: 5px;
}