* {
    margin: 0;
    border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    margin-right: 4%;
    margin-left: 4%;
}

.viscible_lane {
    background-color: white;
    z-index: 999;
}

.sub_header {
    height: 64px;
    padding-bottom: 50px;
}

.colort {
    background-color: white;
    border-right: 1px solid rgba(184, 177, 177, 0.438);
    border-left: 1px solid rgba(184, 177, 177, 0.438);
    border-bottom: 1px solid rgba(184, 177, 177, 0.438);
    padding-left: 20px;
    padding-right: 10px;

}

.sub_co {
    margin-left: 40px;
}

.searching::placeholder {
    margin-left: 15px;
}

.logo {
    height: 37px;
    margin-top: 28px;
}

.headBar {
    margin-left: 68px;
    border: 1px solid #DFDFDF;
    height: 48px;
    margin-top: 20px;
}

.line {
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #DFDFDF;

}

.header_bar {
    height: 40px;
    margin-top: 28px;
    border: 1px solid black;
}

.users {
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}

.pro {
    margin-right: 59px;
}

.sub_menu_bar {
    margin-left: 58px;
}

.sub_head_text {
    padding-top: 28px;
    font-weight: 600;
}

.sub_action {
    padding-top: 20px;
    font-weight: 600;
}

.sub_icon {
    height: 23px;
    width: 23px;
}

.post {
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 10px;
    margin-left: 50px;
}

.headr_line {
    margin-top: 5px;
    background-color: black;
    width: 100%;
    border: 2px solid black;
}

.headies {
    display: none;
}

.green_line_header {
    border: 1px solid #2FA500;
    width: 100%;
}

.account {
    margin-left: 50px;
}

.arrow {
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    margin-left: 12px;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {

    .logo {
        height: 27px;
        width: 125px;
        margin-top: 28px;
    }

    .headBar {
        margin-left: 10px;
        border: 1px solid #DFDFDF;
        height: 28px;
        margin-top: 26px;
        margin-left: 30PX;
    }

    .line {
        height: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border: 1px solid #DFDFDF;

    }

    .users {
        font-size: 13px;
        font-weight: 500;
        margin-top: 28px;
    }

    .pro {
        margin-right: 19px;
    }

    .sub_header {
        height: 64px;
        padding-bottom: 20px;
    }

    .sub_menu_bar {
        margin-left: 25px;
    }

    .sub_head_text {
        padding-top: 28px;
        font-size: 13px;
        font-weight: 600;
    }

    .sub_action {
        font-size: 13px;
        padding-top: 20px;
        font-weight: 600;
    }

    .sub_icon {
        height: 18px;
        width: 18px;
    }

    .post {
        height: 30px;
        color: white;
        width: 107px;
        font-weight: 600;
        background-color: #2FA500;
        border-radius: 4px;
        padding-left: 20px;
        padding-top: 4px;
        margin-left: 50px;
        margin-top: 4px;
    }

    .arrow {
        height: 15px;
        width: 15px;
        transform: rotate(-90deg);
        margin-left: 5px;
        margin-top: 3px;
    }

}

@media only screen and (max-width: 760px) {
    .desktop_header {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .mobile_header {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .sub_menu_bar {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.ham {
    height: 25px;
    width: 25px;
}

.ham_men {
    margin-top: 30px;
}

.mob_search {
    width: 100%;
    height: 37px;
    border-radius: 4px;
    border: 2px solid black;
}

.selctions {
    font-size: 18px;
    font-weight: 600;
}

.nav_menu_mob {
    font-size: 16px;
    font-weight: 500;
}

.small_Arrow {
    margin-top: 15px;
}

.no_men {
    display: none;
}