$themegreen: #2FA500;

.hero {
    background-image: url('/hero.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 54px;
}

.land {
    margin-left: 4%;
    margin-right: 4%;
}

.hero_subText {
    font-size: 16px;
    font-weight: 400;
    color: #121212;
    margin-bottom: 44px;
    margin-top: 14px;
}

.hero_header {

    font-size: 40px;

    font-weight: 700;
}

.post_hero {
    height: 48px;
    color: white;
    width: 127px;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 12px;
}

.searchBar {
    height: 48px;
    width: 370px;
    margin-right: 10px;
    border: 1px solid #DFDFDF;
}
.searchBar::placeholder{
    margin-left: 15px;
}

.feat {
    background-color: #F6F6F6;
    height: 96px;

    padding-bottom: 32px;
}

.feat_text {
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
}

.tel {
    height: 24px;
    width: 132px;
    margin-top: 32px;

}

.ev {
    height: 24px;
    width: 184px;
    margin-top: 32px;

}

.lon {
    height: 40px;
    width: 50px;
    margin-top: 21px;

}

.fast {
    height: 48px;
    width: 112px;
    margin-top: 21px;
}

.secure {
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    margin-top: 64px;
}

.card {
    margin-top: 56px;
    margin-bottom: 160px;
}

.card_item {
    width: 350px;
    text-align: left;
}

.card_icon {
    height: 70px;
    width: 70px;
    margin-bottom: 32px;
}

.card_header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.explore {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 48px;
}

.trade {
    height: 280px;
    width: 207px;
   

}

.trade_text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 7px;
    margin-bottom: 5px;
    color: white;
}

.shade {
    height: 30px;
    position: relative;
    bottom: 30px;
    width: 187px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 5px 5px;

}

.services_offer {
    margin-top: 140px;
}

.button_green {
    background-color: $themegreen;
    width: 238px;
    height: 48px;
    margin-top: 32px;
    padding: auto;
    color: white;
    border-radius: 8px;
}

.offer_button_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.service_media {
    width: 50%;
    height: 475px;
}

.offer_header {
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
}

.offer_sub_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}

.offer_text {
    width: 50%;
    padding-top: 99px;
    padding-bottom: 99px;
    padding-left: 128px;
    padding-right: 105px;
}

.offer_text_2 {
    width: 50%;
    padding-top: 99px;
    padding-bottom: 99px;
    padding-right: 128px;
    padding-left: 105px;
}

.cartegory {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 128px;
    margin-bottom: 90px;
}

.cartegory_icon_border {
    height: 55px;
    width: 50px;
    border: 1px solid rgba(128, 128, 128, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cartegory_texts {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.tradeMen {
    margin-top: 128px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.phone {
    width: 350px;
    margin-top: 80px;
}

.phone_text {
    margin-left: 152px;
}

.trademen_head {
    margin-bottom: 16px;
}

.tradeMen_view {
    color: #2FA500;
    margin-top: 128px;
    font-weight: 600;
}
.asia_tag{
    border-radius: 15px;
    position: relative;
    bottom: 100px;
    width: 250px;
    margin-left: 20px;
}
.asia_tag2{
    border-radius: 15px;
    position: relative;
    bottom: 100px;
    width: 250px;
    margin-right: 300px;
    left: 300px;
}


.trade_Card {
    width: 291px;
    height: 140px;
    margin-bottom: 18px;
}

.trade_texts {
    font-size: 18px;
    font-weight: 500;
}

.children_care {
    margin-top: 66px;
    margin-bottom: 16px;
}

.childcare_head {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.childcare_view {
    color: #2FA500;
    font-weight: 600;
}

.search {
    margin-top: 130px;
}

.testimonial {
    background-color: #F0FFEB;
    padding-left: 100px;
    margin-top: 64px;
    padding-top: 64px;
}

.testimonal_header {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.stars {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 13px;
}

.trust {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 15px;
}

.strboy {
    height: 40px;
    margin-top: 25px;
}

.area_of_service {
    padding-left: 20px;
    padding-right: 20px;
}

.area {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 64px;
    margin-bottom: 50px;
}
@media only screen and (min-width: 1500px){
    .tradeMen_view {
        margin-right: 140px;
    }

    .childcare_view {
        margin-right: 140px;

    }
}
@media only screen and (min-width: 1440px) {
    .land {
        margin-right: 10%;
        margin-left: 10%;

    }

    .tradeMen_view {
    }

    .childcare_view {
    }
}

.phone_frame {
    margin-top: 106px;
    background-color: #2E2E2E;
    padding-left: 135px;
    padding-right: 166px;
    border-radius: 15px;
}

.location {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
}

.access {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: white;
    margin-bottom: 12px;
    margin-top: 101px;
}

.access_subText {
    color: white;
}

.access_button {
    color: black;
    padding: auto;
    background-color: #CCCCCC;
    width: 215px;
    height: 48px;
    margin-top: 32px;
    border-radius: 8px;
}

.blog {
    margin-top: 96px;
    margin-bottom: 48px;
}

.blog_img {
    border-radius: 10px;
    width: 397px;
    height: 200px;
}

.arrow_more {
    transform: rotate(90deg);
    margin-left: 10px;
    margin-top: 4px;
}

.blog_head {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 12px;
}

.blog_sub {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.read {
    font-size: 16px;
    font-weight: 600;
}

.CTA {
    background-color: $themegreen;
    padding: auto;
    height: 48px;
    width: 238px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    padding-left: 58px;
    padding-top: 15px;
    font-weight: 500;
}