.service_head {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    background-color: #F6F6F6;
}

.service_head_text {
    font-size: 52px;
    font-weight: 700;
}

.service_sub_text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 14px;
}

.service_consume_head {
    font-size: 24px;
    font-weight: 600;
}

.section_servi{
    max-width: 600px;
}
.introduction_tabs{
    margin-right: 130px;
}
.tabs_menu{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}