* {
  margin: 0;
  border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.sub_header {
  height: 64px;
}

.logo {
  height: 37px;
  margin-top: 28px;
}

.headBar {
  margin-left: 68px;
  border: 1px solid #DFDFDF;
  height: 48px;
  margin-top: 20px;
}

.line {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #DFDFDF;
}

.header_bar {
  height: 40px;
  margin-top: 28px;
  border: 1px solid black;
}

.users {
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}

.pro {
  margin-right: 59px;
}

.sub_menu_bar {
  margin-left: 58px;
}

.sub_head_text {
  padding-top: 28px;
  font-weight: 600;
}

.sub_action {
  padding-top: 20px;
  font-weight: 600;
}

.sub_icon {
  height: 23px;
  width: 23px;
}

.post {
  height: 40px;
  width: 127px;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 6px;
  margin-left: 50px;
}

.account {
  margin-left: 50px;
}

.arrow {
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
  margin-left: 12px;
  margin-top: 5px;
}

.land {
  margin-left: 4%;
  margin-right: 4%;
}

.feat {
  background-color: #F6F6F6;
  height: 96px;
  padding-bottom: 32px;
}

.feat_text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
}

.tel {
  height: 24px;
  width: 132px;
  margin-top: 32px;
}

.ev {
  height: 24px;
  width: 184px;
  margin-top: 32px;
}

.lon {
  height: 40px;
  width: 50px;
  margin-top: 21px;
}

.fast {
  height: 48px;
  width: 112px;
  margin-top: 21px;
}

.secure {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  margin-top: 64px;
}

.card {
  margin-top: 56px;
  margin-bottom: 160px;
}

.card_item {
  width: 300px;
}

.card_icon {
  height: 70px;
  width: 70px;
  margin-bottom: 32px;
}

.card_header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.explore {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 48px;
}

.trade {
  height: 280px;
  width: 187px;
  margin-right: 24px;
}

.trade_text {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.shade {
  height: 30px;
  position: relative;
  bottom: 30px;
  width: 187px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 5px 5px;
}

.services_offer {
  margin-top: 140px;
}

.button_green {
  background-color: #2FA500;
  width: 238px;
  height: 48px;
  margin-top: 32px;
  padding: auto;
  color: white;
  border-radius: 8px;
}

.offer_button_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.service_media {
  width: 50%;
  height: 475px;
}

.offer_header {
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}

.offer_sub_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.offer_text {
  width: 50%;
  padding-top: 99px;
  padding-bottom: 99px;
  padding-left: 128px;
  padding-right: 105px;
}

.cartegory {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 128px;
  margin-bottom: 90px;
}

.cartegory_icon_border {
  height: 55px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cartegory_texts {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.tradeMen {
  margin-top: 128px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.trademen_head {
  margin-bottom: 16px;
}

.tradeMen_view {
  color: #2FA500;
  margin-top: 128px;
  font-weight: 600;
}

.trade_Card {
  width: 291px;
  height: 140px;
  margin-bottom: 18px;
}

.trade_texts {
  font-size: 18px;
  font-weight: 500;
}

.children_care {
  margin-top: 66px;
  margin-bottom: 16px;
}

.childcare_head {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.childcare_view {
  color: #2FA500;
  font-weight: 600;
}

.search {
  margin-top: 130px;
}

.testimonial {
  background-color: #F0FFEB;
  padding-left: 100px;
  margin-top: 64px;
  padding-top: 64px;
}

.testimonal_header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.stars {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 13px;
}

.trust {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 15px;
}

.strboy {
  height: 40px;
  margin-top: 25px;
}/*# sourceMappingURL=globals.css.map */