* {
  margin: 0;
  border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  margin-right: 4%;
  margin-left: 4%;
}

.sub_header {
  height: 64px;
  padding-bottom: 50px;
}

.searching::-moz-placeholder {
  margin-left: 15px;
}

.searching::placeholder {
  margin-left: 15px;
}

.logo {
  height: 37px;
  margin-top: 28px;
}

.headBar {
  margin-left: 68px;
  border: 1px solid #DFDFDF;
  height: 48px;
  margin-top: 20px;
}

.line {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #DFDFDF;
}

.header_bar {
  height: 40px;
  margin-top: 28px;
  border: 1px solid black;
}

.users {
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}

.pro {
  margin-right: 59px;
}

.sub_menu_bar {
  margin-left: 58px;
}

.sub_head_text {
  padding-top: 28px;
  font-weight: 600;
}

.sub_action {
  padding-top: 20px;
  font-weight: 600;
}

.sub_icon {
  height: 23px;
  width: 23px;
}

.post {
  height: 40px;
  color: white;
  width: 127px;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 6px;
  margin-left: 50px;
}

.account {
  margin-left: 50px;
}

.arrow {
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
  margin-left: 12px;
  margin-top: 5px;
}

.hero {
  background-image: url("/hero.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.land {
  margin-left: 4%;
  margin-right: 4%;
}

.hero_subText {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 44px;
  margin-top: 14px;
}

.hero_header {
  font-size: 40px;
  font-weight: 700;
}

.post_hero {
  height: 48px;
  color: white;
  width: 127px;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 12px;
}

.searchBar {
  height: 48px;
  width: 370px;
  margin-right: 10px;
  border: 1px solid #DFDFDF;
}

.searchBar::-moz-placeholder {
  margin-left: 15px;
}

.searchBar::placeholder {
  margin-left: 15px;
}

.feat {
  background-color: #F6F6F6;
  height: 96px;
  padding-bottom: 32px;
}

.feat_text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
}

.tel {
  height: 24px;
  width: 132px;
  margin-top: 32px;
}

.ev {
  height: 24px;
  width: 184px;
  margin-top: 32px;
}

.lon {
  height: 40px;
  width: 50px;
  margin-top: 21px;
}

.fast {
  height: 48px;
  width: 112px;
  margin-top: 21px;
}

.secure {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  margin-top: 64px;
}

.card {
  margin-top: 56px;
  margin-bottom: 160px;
}

.card_item {
  width: 350px;
  text-align: left;
}

.card_icon {
  height: 70px;
  width: 70px;
  margin-bottom: 32px;
}

.card_header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.explore {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 48px;
}

.trade {
  height: 280px;
  width: 207px;
}

.trade_text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 7px;
  margin-bottom: 5px;
  color: white;
}

.shade {
  height: 30px;
  position: relative;
  bottom: 30px;
  width: 205px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 5px 5px;
}

.services_offer {
  margin-top: 140px;
}

.button_green {
  background-color: #2FA500;
  width: 238px;
  height: 48px;
  margin-top: 32px;
  padding: auto;
  color: white;
  border-radius: 8px;
}

.offer_button_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.service_media {
  width: 50%;
  height: 475px;
}

.offer_header {
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}

.offer_sub_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.offer_text {
  width: 50%;
  padding-top: 99px;
  padding-bottom: 99px;
  padding-left: 128px;
  padding-right: 105px;
}

.offer_text_2 {
  width: 50%;
  padding-top: 99px;
  padding-bottom: 99px;
  padding-right: 128px;
  padding-left: 105px;
}

.cartegory {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 128px;
  margin-bottom: 90px;
}

.cartegory_icon_border {
  height: 55px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cartegory_texts {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.tradeMen {
  margin-top: 128px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.phone {
  width: 350px;
  margin-top: 80px;
}

.phone_text {
  margin-left: 152px;
}

.trademen_head {
  margin-bottom: 16px;
}

.tradeMen_view {
  color: #2FA500;
  margin-top: 128px;
  font-weight: 600;
}

.asia_tag {
  border-radius: 15px;
  position: relative;
  bottom: 100px;
  width: 250px;
  margin-left: 20px;
}

.asia_tag2 {
  border-radius: 15px;
  position: relative;
  bottom: 100px;
  width: 250px;
  margin-right: 300px;
  left: 300px;
}

.trade_Card {
  width: 291px;
  height: 140px;
  margin-bottom: 18px;
}

.trade_texts {
  font-size: 18px;
  font-weight: 500;
}

.children_care {
  margin-top: 66px;
  margin-bottom: 16px;
}

.childcare_head {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.childcare_view {
  color: #2FA500;
  font-weight: 600;
}

.search {
  margin-top: 130px;
}

.testimonial {
  background-color: #F0FFEB;
  padding-left: 100px;
  margin-top: 64px;
  padding-top: 64px;
}

.testimonal_header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.stars {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 13px;
}

.trust {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 15px;
}

.strboy {
  height: 40px;
  margin-top: 25px;
}

.area_of_service {
  padding-left: 20px;
  padding-right: 20px;
}

.area {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 64px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1500px) {
  .tradeMen_view {
    margin-right: 140px;
  }
  .childcare_view {
    margin-right: 140px;
  }
}
@media only screen and (min-width: 1440px) {
  .land {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.phone_frame {
  margin-top: 106px;
  background-color: #2E2E2E;
  padding-left: 135px;
  padding-right: 166px;
  border-radius: 15px;
}

.location {
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
}

.access {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  margin-bottom: 12px;
  margin-top: 101px;
}

.access_subText {
  color: white;
}

.access_button {
  color: black;
  padding: auto;
  background-color: #CCCCCC;
  width: 215px;
  height: 48px;
  margin-top: 32px;
  border-radius: 8px;
  font-weight: 600;
}

.blog {
  margin-top: 96px;
  margin-bottom: 48px;
}

.blog_img {
  border-radius: 10px;
  width: 397px;
  height: 200px;
}

.arrow_more {
  transform: rotate(90deg);
  margin-left: 10px;
  margin-top: 4px;
}

.blog_head {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.blog_sub {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.read {
  font-size: 16px;
  font-weight: 600;
}

.CTA {
  background-color: #2FA500;
  padding: auto;
  height: 48px;
  width: 238px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  padding-left: 58px;
  padding-top: 15px;
  font-weight: 500;
  margin-bottom: 64px;
}

.footer {
  background-color: black;
  padding-top: 64px;
  padding-left: 82px;
  padding-right: 54px;
  padding-bottom: 47px;
}

.footer_icon {
  height: 20px;
  width: 20px;
}

.footer_sub {
  font-size: 14px;
  color: white;
}

.straight {
  height: 17px;
  background-color: #CCCCCC;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  margin-top: 1px;
}

.footer_line {
  margin-top: 71px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 41px;
  height: 0.2px;
  background-color: #CCCCCC;
}

.btn_footer {
  width: 185px;
  height: 50px;
  color: white;
  border: white 1px solid;
  border-radius: 7px;
  margin-top: 33px;
  padding-left: 7px;
  padding-top: 10px;
  font-weight: 600;
}

.ft_logo {
  width: 185px;
}

.footer_sub {
  color: #CCCCCC;
  margin-bottom: 16px;
  font-weight: 500;
}

.postajpb {
  padding-left: 50px;
}

.footer_head {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 52px;
  color: white;
}

.logTab {
  margin-right: 105px;
}

.consumer_work_hero {
  background-image: url("/work_con.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 54px;
}

.consumer_work_text {
  text-align: center;
}

.consumer_work_head {
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
}

.consumer_work_sub {
  font-size: 18px;
  font-weight: 400;
}

.cons_button {
  width: 169px;
  height: 48px;
  background-color: #2FA500;
  color: white;
  margin-top: 35px;
  border-radius: 7px;
}

.consumer_faq {
  background-color: #F9FDF7;
  text-align: center;
  padding-bottom: 64px;
  padding-top: 64px;
}

.consumer_faq_head {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
}

.consumer_faq_sub {
  font-size: 18px;
  font-weight: 400;
}

.faq_contact {
  padding-left: 310px;
  padding-right: 310px;
}

.form {
  padding-left: 310px;
  padding-right: 310px;
}

.faq_tab {
  width: 406px;
  background-color: #F9FDF7;
  height: 48px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
}

.info_details {
  width: 350px;
  height: 48px;
  border: 2px solid #DFDFDF;
  margin-top: 6px;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.form {
  font-size: 16px;
  font-weight: 500;
}

.contact_form {
  width: 406px;
  background-color: #F9FDF7;
  height: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.question {
  font-size: 18px;
  font-weight: 600;
}

.tog {
  font-size: 18px;
  font-weight: 600;
}

.last {
  margin-bottom: 100px;
}

.subbutton {
  justify-content: right;
}

.large_bar {
  border-radius: 5px;
  width: 100%;
  height: 48px;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.larger_bar {
  border-radius: 5px;
  width: 100%;
  height: 80px;
  border: 2px solid #DFDFDF;
  background-color: #FAFAFA;
  border-radius: 5px;
}

.contact_btn {
  background-color: #2FA500;
  margin-right: auto;
  width: 186px;
  height: 48px;
  margin-bottom: 56px;
}

.faq_address {
  margin-top: 20px;
  margin-bottom: 13px;
}

.faq_add {
  margin-bottom: 420px;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 24px;
}

.faq_tab_white {
  background-color: white;
  font-weight: 600;
  color: #2FA500;
  font-size: 16px;
}

@media only screen and (min-width: 1600px) {
  .faq_contact {
    margin-left: 10%;
    margin-right: 10%;
  }
  .form {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.hiring_header {
  font-size: 40px;
  font-weight: 600;
}

.hiring_header {
  padding-top: 64px;
  text-align: center;
  padding-bottom: 64px;
  background-color: #F9FDF7;
}

.hiring_subTxt {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.hiring_carfd {
  margin-top: 40px;
  margin-bottom: 64px;
}

.services_text {
  font-weight: 500;
  margin-top: 15px;
}

.blog_header {
  font-size: 40px;
  font-weight: 600;
  margin-top: 48px;
  text-align: center;
}

.blog_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FDF7;
  margin-bottom: 24px;
}

.blog_input {
  margin-bottom: 90px;
}

.blog_head {
  margin-left: auto;
  margin-right: auto;
}

.blog_search {
  height: 48px;
  width: 50px;
  background-color: #2FA500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog_in {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: #DFDFDF 1px solid;
  width: 554px;
  height: 48px;
}

.blog_post {
  margin-left: 2%;
  margin-right: 2%;
}

.nav_Arrow {
  transform: rotate(180deg);
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.blog_present {
  color: #0D0D0D;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.article_header {
  font-size: 32px;
  font-weight: 600;
  margin-top: 35px;
}

.article_content {
  margin-right: 130px;
  font-size: 16px;
}

.article_cartegory {
  margin-top: 14px;
  margin-bottom: 24px;
  color: #5E5E5E;
  font-size: 14px;
}

.aricle_titled_head {
  font-weight: 500;
}

.iron {
  height: 595px;
  width: 611px;
  border-radius: 8px;
}

.glue {
  width: 622px;
  height: 289px;
  border-radius: 8px;
  z-index: 0;
}

.article_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capenter {
  height: 289px;
  width: 292px;
  border-radius: 8px;
}

.blog_service_professional {
  color: black;
  background-color: white;
  margin-bottom: 12px;
  width: 150px;
  height: 27px;
  border-radius: 3px;
}

.blog1 {
  color: black;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 12px;
  width: 150px;
  height: 27px;
  border-radius: 3px;
}

.blog_list {
  margin-top: 64px;
}

.blog_post_header {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #FCFCFC;
}

.blog_post_text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
  color: #C4C4C4;
}

.blog_post_text_list {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
  color: #4B4B4B;
}

.blog_list_sub {
  font-size: 16px;
  font-weight: 400;
}

.blog_list_header {
  font-size: 18px;
  font-weight: 700;
}

.check_list {
  border-radius: 4px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border: #DFDFDF 1px solid;
}

.blogpost_list {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}

.blog_post_text_glue {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #C4C4C4;
}

.blog_titles {
  position: relative;
  bottom: 120px;
  margin-left: 30px;
}

.gluebox {
  position: relative;
}

.glue_title {
  position: absolute;
  bottom: 0;
  left: 100;
  z-index: 1;
  /* Add any other styles for the glue_title div */
}

.blog_button {
  color: #2FA500;
  width: 179px;
  height: 48px;
  border: 1px solid #2FA500;
  border-radius: 5px;
}

.chldfilter {
  margin-top: 32px;
}

.blog_button_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.child_filter {
  font-size: 20px;
  font-weight: 500;
}

.hiring_small_link {
  color: #5E5E5E;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .blog_post {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.article_icon {
  height: 30px;
  width: 30px;
  margin-right: 19px;
}

.harmer {
  margin-bottom: 35px;
}

.share {
  padding: 24px;
  width: 300px;
}

.share_text {
  margin-bottom: 12px;
}

.offer_service {
  margin-top: 35px;
  padding: 40px 24px;
}

.offer_your_services {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.cta_professinal {
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  font-size: 14px;
  font-weight: 600;
  background-color: #2FA500;
  height: 32px;
  padding-top: 5px;
  border-radius: 5px;
  width: 244px;
}

.professiona_cta {
  background-color: #F6F6F6;
}

.shade_price {
  position: relative;
  bottom: 30px;
  height: 30px;
  width: 187px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 5px 5px;
}

.cta_pro_text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.offer_your_services_subtext {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.key_point {
  max-width: 800px;
}

.professiona_post {
  background-color: #F9FDF7;
}

.service_head {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}/*# sourceMappingURL=globals.css.map */