* {
  margin: 0;
  border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  margin-right: 4%;
  margin-left: 4%;
}

.viscible_lane {
  background-color: white;
  z-index: 999;
}

.sub_header {
  height: 64px;
  padding-bottom: 50px;
}

.colort {
  background-color: white;
  border-right: 1px solid rgba(184, 177, 177, 0.438);
  border-left: 1px solid rgba(184, 177, 177, 0.438);
  border-bottom: 1px solid rgba(184, 177, 177, 0.438);
  padding-left: 20px;
  padding-right: 10px;
}

.sub_co {
  margin-left: 40px;
}

.searching::-moz-placeholder {
  margin-left: 15px;
}

.searching::placeholder {
  margin-left: 15px;
}

.logo {
  height: 37px;
  margin-top: 28px;
}

.headBar {
  margin-left: 68px;
  border: 1px solid #DFDFDF;
  height: 48px;
  margin-top: 20px;
}

.line {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #DFDFDF;
}

.header_bar {
  height: 40px;
  margin-top: 28px;
  border: 1px solid black;
}

.users {
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}

.pro {
  margin-right: 59px;
}

.sub_menu_bar {
  margin-left: 58px;
}

.sub_head_text {
  padding-top: 28px;
  font-weight: 600;
}

.sub_action {
  padding-top: 20px;
  font-weight: 600;
}

.sub_icon {
  height: 23px;
  width: 23px;
}

.post {
  height: 40px;
  color: white;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 10px;
  margin-left: 50px;
}

.headr_line {
  margin-top: 5px;
  background-color: black;
  width: 100%;
  border: 2px solid black;
}

.headies {
  display: none;
}

.green_line_header {
  border: 1px solid #2FA500;
  width: 100%;
}

.account {
  margin-left: 50px;
}

.arrow {
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
  margin-left: 12px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 27px;
    width: 125px;
    margin-top: 28px;
  }
  .headBar {
    margin-left: 10px;
    border: 1px solid #DFDFDF;
    height: 28px;
    margin-top: 26px;
    margin-left: 30PX;
  }
  .line {
    height: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #DFDFDF;
  }
  .users {
    font-size: 13px;
    font-weight: 500;
    margin-top: 28px;
  }
  .pro {
    margin-right: 19px;
  }
  .sub_header {
    height: 64px;
    padding-bottom: 20px;
  }
  .sub_menu_bar {
    margin-left: 25px;
  }
  .sub_head_text {
    padding-top: 28px;
    font-size: 13px;
    font-weight: 600;
  }
  .sub_action {
    font-size: 13px;
    padding-top: 20px;
    font-weight: 600;
  }
  .sub_icon {
    height: 18px;
    width: 18px;
  }
  .post {
    height: 30px;
    color: white;
    width: 107px;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 20px;
    padding-top: 4px;
    margin-left: 50px;
    margin-top: 4px;
  }
  .arrow {
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    margin-left: 5px;
    margin-top: 3px;
  }
}
@media only screen and (max-width: 760px) {
  .desktop_header {
    display: none;
  }
}
@media only screen and (min-width: 760px) {
  .mobile_header {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .sub_menu_bar {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.ham {
  height: 25px;
  width: 25px;
}

.ham_men {
  margin-top: 30px;
}

.mob_search {
  width: 100%;
  height: 37px;
  border-radius: 4px;
  border: 2px solid black;
}

.selctions {
  font-size: 18px;
  font-weight: 600;
}

.nav_menu_mob {
  font-size: 16px;
  font-weight: 500;
}

.small_Arrow {
  margin-top: 15px;
}

.no_men {
  display: none;
}

.hero {
  background-image: url("/hero.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
  z-index: 1;
}

.land {
  margin-left: 4%;
  margin-right: 4%;
}

.hero_subText {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 44px;
  margin-top: 14px;
}

.hero_header {
  font-size: 40px;
  font-weight: 700;
}

.post_hero {
  height: 48px;
  color: white;
  width: 127px;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 12px;
}

.searchBar {
  height: 48px;
  width: 370px;
  margin-right: 10px;
  border: 1px solid #DFDFDF;
}

.searchBar::-moz-placeholder {
  margin-left: 15px;
}

.searchBar::placeholder {
  margin-left: 15px;
}

.feat {
  background-color: #F6F6F6;
  height: 96px;
  padding-bottom: 32px;
}

.feat_text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
}

.asia {
  position: relative;
  margin-bottom: 100px;
}

.asia_tag2 {
  border-radius: 15px;
  position: relative;
  bottom: 50px;
  width: 250px;
  margin-right: 200px;
  left: 100px;
}

.gyal {
  margin-bottom: 100px;
  height: 450px;
}

.asia_tag {
  border-radius: 15px;
  position: absolute;
  width: 250px;
  top: 250px;
  z-index: 1;
  height: 90px;
  margin-left: 150px;
}

.tel {
  height: 24px;
  width: 132px;
  margin-top: 32px;
}

.ev {
  height: 24px;
  width: 184px;
  margin-top: 32px;
}

.lon {
  height: 40px;
  width: 50px;
  margin-top: 21px;
}

.fast {
  height: 48px;
  width: 112px;
  margin-top: 21px;
}

.secure {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  margin-top: 64px;
}

.card {
  margin-top: 56px;
  margin-bottom: 160px;
}

.card_item {
  max-width: 350px;
  text-align: left;
}

.ld_icon {
  height: 70px;
  width: 70px;
}

.card_icon {
  height: 70px;
  width: 70px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.card_header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.explore {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 48px;
}

.trade {
  height: 280px;
  width: 207px;
}

.trade_text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 7px;
  margin-bottom: 5px;
  color: white;
}

.shade {
  height: 30px;
  position: relative;
  bottom: 30px;
  width: 205px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 5px 5px;
}

.services_offer {
  margin-top: 140px;
}

.button_green {
  background-color: #2FA500;
  width: 238px;
  height: 48px;
  margin-top: 32px;
  padding: auto;
  color: white;
  border-radius: 8px;
}

.offer_button_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.service_media {
  width: 50%;
  height: 300px;
  position: relative;
}

.offer_header {
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}

.offer_sub_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.offer_text {
  width: 50%;
  padding-top: 99px;
  padding-bottom: 99px;
  padding-left: 128px;
  padding-right: 105px;
}

.offer_text_2 {
  width: 50%;
  padding-top: 99px;
  padding-bottom: 99px;
  padding-right: 128px;
  padding-left: 105px;
}

.cartegory {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 128px;
  margin-bottom: 90px;
}

.cartegory_icon_border {
  height: 55px;
  width: 50px;
  border: 1px solid rgba(128, 128, 128, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cartegory_texts {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.tradeMen {
  margin-top: 128px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.phone {
  width: 350px;
  margin-top: 80px;
}

.phone_text {
  margin-left: 152px;
  max-width: 400px;
}

.trademen_head {
  margin-bottom: 16px;
}

.tradeMen_view {
  color: #2FA500;
  margin-top: 128px;
  font-weight: 600;
}

.asia_tag {
  border-radius: 15px;
  position: absolute;
  width: 250px;
  z-index: 1;
}

.asia {
  position: absolute;
  z-index: 0;
}

.asia_tag2 {
  border-radius: 15px;
  position: relative;
  bottom: 100px;
  width: 250px;
  margin-right: 300px;
  left: 300px;
}

.trade_Card {
  width: 291px;
  height: 140px;
  margin-bottom: 18px;
}

.trade_texts {
  font-size: 18px;
  font-weight: 500;
}

.children_care {
  margin-top: 66px;
  margin-bottom: 16px;
}

.childcare_head {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.childcare_view {
  color: #2FA500;
  font-weight: 600;
}

.search {
  margin-top: 130px;
}

.testimonial {
  background-color: #F0FFEB;
  padding-left: 100px;
  margin-top: 64px;
  padding-top: 64px;
}

.testimonal_header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.stars {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 13px;
}

.trust {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 15px;
}

.strboy {
  height: 40px;
  margin-top: 25px;
}

.area_of_service {
  padding-left: 20px;
  padding-right: 20px;
}

.area {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 64px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1500px) {
  .tradeMen_view {
    margin-right: 140px;
  }
  .childcare_view {
    margin-right: 140px;
  }
}
@media only screen and (min-width: 1440px) {
  .land {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.phone_frame {
  margin-top: 106px;
  background-color: #2E2E2E;
  padding-left: 135px;
  padding-right: 166px;
  border-radius: 15px;
}

.location {
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
}

.access {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  margin-bottom: 12px;
  margin-top: 101px;
}

.access_subText {
  color: white;
}

.access_button {
  color: black;
  padding: auto;
  background-color: #CCCCCC;
  width: 215px;
  height: 48px;
  margin-top: 32px;
  border-radius: 8px;
  font-weight: 600;
}

.blog {
  margin-top: 96px;
  margin-bottom: 48px;
}

.blog_img {
  border-radius: 10px;
  width: 397px;
  height: 200px;
}

.arrow_more {
  transform: rotate(90deg);
  margin-left: 10px;
  margin-top: 4px;
}

.blog_head {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.blog_sub {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.read {
  font-size: 16px;
  font-weight: 600;
}

.CTA {
  background-color: #2FA500;
  padding: auto;
  height: 48px;
  width: 238px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  padding-left: 58px;
  padding-top: 15px;
  font-weight: 500;
  margin-bottom: 64px;
}

@media only screen and (max-width: 1024px) {
  .hero {
    background-image: url("/hero.png");
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 50px;
    padding-top: 104px;
  }
  .shade {
    width: 145px;
  }
  .offer_header {
    line-height: 48px;
    font-size: 35px;
    font-weight: 700;
  }
  .offer_text {
    width: 50%;
    padding-top: 1px;
    padding-bottom: 99px;
    padding-left: 128px;
    padding-right: 105px;
  }
  .button_green {
    background-color: #2FA500;
    width: 238px;
    height: 48px;
    margin-top: 12px;
    padding: auto;
    color: white;
    border-radius: 8px;
  }
  .offer_text_2 {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 99px;
    padding-right: 128px;
    padding-left: 105px;
  }
  .asia_tag2 {
    border-radius: 15px;
    position: relative;
    bottom: 100px;
    width: 250px;
    margin-right: 200px;
    left: 100px;
  }
  .asia_tag {
    border-radius: 15px;
    position: absolute;
    width: 250px;
    top: 250px;
    z-index: 1;
    height: 90px;
    margin-left: 150px;
  }
  .offer_text_2 {
    width: 50%;
    padding-top: 49px;
    padding-bottom: 99px;
    padding-right: 58px;
    padding-left: 55px;
  }
}
@media only screen and (max-width: 768px) {
  .location_tags {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .asia_tag {
    border-radius: 15px;
    position: absolute;
    width: 250px;
    top: 190px;
    z-index: 1;
    height: 90px;
    margin-left: 50px;
  }
  .hero_header {
    font-size: 30px;
    font-weight: 700;
  }
  .protection {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .childminderr {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .hero_subText {
    font-size: 14px;
    font-weight: 400;
    color: #121212;
    margin-bottom: 44px;
    margin-top: 14px;
  }
  .searchBar {
    height: 38px;
    width: 270px;
    margin-right: 10px;
    border: 1px solid #DFDFDF;
  }
  .post_hero {
    height: 38px;
    color: white;
    width: 87px;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 12px;
  }
  .offer_text {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 99px;
    padding-left: 28px;
    padding-right: 25px;
  }
  .offer_header {
    line-height: 48px;
    font-size: 28px;
    font-weight: 700;
  }
  .offer_sub_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
  }
  .button_green {
    background-color: #2FA500;
    width: 178px;
    height: 48px;
    margin-top: 12px;
    padding: auto;
    color: white;
    border-radius: 8px;
  }
  .asia {
    position: absolute;
    z-index: 0;
    height: 300px;
  }
  .shade {
    width: 205px;
  }
  .offer_text_2 {
    width: 50%;
    padding-top: 19px;
    padding-bottom: 99px;
    padding-right: 28px;
    padding-left: 25px;
  }
}
@media only screen and (max-width: 425px) {
  .shade {
    width: 100px;
  }
  .childminderr {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .feat {
    display: none;
  }
  .blogger {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .services_offer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .hero {
    background-image: none;
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 30px;
    padding-top: 104px;
  }
  .service_media {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .offer_text {
    width: 100%;
    padding-top: 99px;
    padding-bottom: 99px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .services_icon {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .offer_text_2 {
    width: 100%;
    padding-top: 99px;
    padding-bottom: 99px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .trading {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 375px) {
  .location_tags {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .hero {
    background-image: none;
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 20px;
    padding-top: 104px;
  }
}
@media only screen and (max-width: 320px) {
  .childminderr {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.footer {
  background-color: black;
  padding-top: 64px;
  padding-left: 82px;
  padding-right: 54px;
  padding-bottom: 47px;
}

.footer_icon {
  height: 20px;
  width: 20px;
}

.footer_sub {
  font-size: 14px;
  color: white;
}

.footer_button {
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  padding: 5px 10px 5px;
}

.straight {
  height: 17px;
  background-color: #CCCCCC;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  margin-top: 1px;
}

.footer_line {
  margin-top: 71px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 41px;
  height: 0.2px;
  background-color: #CCCCCC;
}

.btn_footer {
  width: 185px;
  height: 50px;
  color: white;
  border: white 1px solid;
  border-radius: 7px;
  margin-top: 33px;
  padding-left: 7px;
  padding-top: 10px;
  font-weight: 600;
}

.ft_logo {
  width: 185px;
}

.footer_sub {
  color: #CCCCCC;
  margin-bottom: 16px;
  font-weight: 500;
}

.postajpb {
  padding-left: 50px;
}

.footer_head {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 52px;
  color: white;
}

.logTab {
  margin-right: 105px;
}

@media only screen and (max-width: 768px) {
  .logTab {
    margin-right: 55px;
  }
  .footer {
    background-color: black;
    padding-top: 64px;
    padding-left: 42px;
    padding-right: 54px;
    padding-bottom: 47px;
  }
  .footer_head {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 52px;
    color: white;
  }
}
@media only screen and (max-width: 425px) {
  .logTab {
    margin-right: 55px;
  }
  .btn_footer {
    width: 105px;
    height: 30px;
    color: white;
    border: white 1px solid;
    border-radius: 7px;
    margin-top: 33px;
    padding-left: 11px;
    padding-top: 3px;
    font-weight: 600;
    font-size: 12px;
  }
  .btn_footer_ft {
    width: 105px;
    height: 40px;
    color: white;
    border: white 1px solid;
    border-radius: 7px;
    margin-top: 33px;
    padding-left: 11px;
    padding-top: 1px;
    font-weight: 600;
    font-size: 12px;
  }
  .log_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer_sub {
    font-size: 10px;
    color: white;
    display: grid;
  }
}
@media only screen and (max-width: 320px) {
  .logTab {
    margin-right: 55px;
  }
  .btn_footer {
    width: 90px;
    height: 30px;
    color: white;
    border: white 1px solid;
    border-radius: 7px;
    margin-top: 33px;
    padding-left: 11px;
    padding-top: 3px;
    font-weight: 600;
    font-size: 12px;
  }
  .btn_footer_ft {
    width: 90px;
    height: 40px;
    color: white;
    border: white 1px solid;
    border-radius: 7px;
    margin-top: 33px;
    padding-left: 11px;
    padding-top: 1px;
    font-weight: 600;
    font-size: 12px;
  }
  .log_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.consumer_work_hero {
  background-image: url("/work_con.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 54px;
}

.f4 {
  height: 150px;
}

.consumer_work_text {
  text-align: center;
}

.consumer_work_head {
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
}

.consumer_work_sub {
  font-size: 18px;
  font-weight: 400;
}

.cons_button {
  width: 169px;
  height: 48px;
  background-color: #2FA500;
  color: white;
  margin-top: 35px;
  border-radius: 7px;
}

.consumer_faq {
  background-color: #F9FDF7;
  text-align: center;
  padding-bottom: 64px;
  padding-top: 64px;
}

.consumer_faq_head {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
}

.consumer_faq_sub {
  font-size: 18px;
  font-weight: 400;
}

.faq_tab {
  width: 406px;
  background-color: #F9FDF7;
  height: 48px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
}

.info_details {
  width: 45%;
  height: 48px;
  border: 2px solid #DFDFDF;
  margin-top: 6px;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.form {
  font-size: 16px;
  font-weight: 500;
}

.contact_form {
  width: 406px;
  background-color: #F9FDF7;
  height: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.question {
  font-size: 18px;
  font-weight: 600;
}

.tog {
  font-size: 18px;
  font-weight: 600;
}

.last {
  margin-bottom: 100px;
}

.subbutton {
  justify-content: right;
}

.large_bar {
  border-radius: 5px;
  width: 100%;
  height: 48px;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.larger_bar {
  border-radius: 5px;
  width: 100%;
  height: 80px;
  border: 2px solid #DFDFDF;
  background-color: #FAFAFA;
  border-radius: 5px;
}

.contact_btn {
  background-color: #2FA500;
  margin-right: auto;
  width: 186px;
  height: 48px;
  margin-bottom: 56px;
  color: white;
}

.faq_address {
  margin-top: 20px;
  margin-bottom: 13px;
}

.faq_add {
  margin-bottom: 420px;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 24px;
}

.faq_tab_white {
  margin-top: 10px;
  background-color: white;
  font-weight: 600;
  color: #2FA500;
  font-size: 16px;
}

@media only screen and (min-width: 1600px) {
  .faq_contact {
    margin-left: 30%;
    margin-right: 30%;
  }
  .form {
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .faq_contact {
    padding-left: 0px;
    padding-right: 0px;
  }
  .form {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.hiring_header_text {
  font-size: 40px;
  font-weight: 600;
}

.hiring_header {
  padding-top: 64px;
  text-align: center;
  padding-bottom: 64px;
  background-color: #F9FDF7;
}

.hiring_subTxt {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.hiring_carfd {
  margin-top: 40px;
  margin-bottom: 64px;
}

.services_text {
  font-weight: 500;
  margin-top: 15px;
}

.opening {
  background-color: #FAFAFA;
  padding-top: 64px;
}

.current_opein {
  font-size: 40px;
  font-weight: 700;
}

.blog_header {
  font-size: 40px;
  font-weight: 600;
  margin-top: 48px;
  text-align: center;
}

.blog_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FDF7;
  margin-bottom: 24px;
}

.blog_input {
  margin-bottom: 90px;
}

.blog_head {
  margin-left: auto;
  margin-right: auto;
}

.blog_search {
  height: 48px;
  width: 50px;
  background-color: #2FA500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog_in {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: #DFDFDF 1px solid;
  width: 554px;
  height: 48px;
}

.blog_post {
  margin-left: 2%;
  margin-right: 2%;
}

.nav_Arrow {
  transform: rotate(180deg);
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.blog_present {
  color: #0D0D0D;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.article_header {
  font-size: 32px;
  font-weight: 600;
  margin-top: 35px;
}

.article_content {
  margin-right: 130px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .article_content {
    margin-right: 70px;
    font-size: 16px;
  }
}
.article_cartegory {
  margin-top: 14px;
  margin-bottom: 24px;
  color: #5E5E5E;
  font-size: 14px;
}

.aricle_titled_head {
  font-weight: 500;
}

.iron {
  height: 595px;
  width: 611px;
  border-radius: 8px;
}

.glue {
  width: 622px;
  height: 289px;
  border-radius: 8px;
  z-index: 0;
}

.article_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capenter {
  height: 289px;
  width: 292px;
  border-radius: 8px;
}

.blog_service_professional {
  color: black;
  background-color: white;
  margin-bottom: 12px;
  width: 150px;
  height: 27px;
  border-radius: 3px;
}

.blog1 {
  color: black;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 12px;
  width: 150px;
  height: 27px;
  border-radius: 3px;
}

.blog_list {
  margin-top: 64px;
}

.blog_post_header {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #FCFCFC;
}

.blog_post_text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
  color: #C4C4C4;
}

.blog_post_text_list {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
  color: #4B4B4B;
}

.blog_list_sub {
  font-size: 16px;
  font-weight: 400;
}

.blog_list_header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.blog_list_sub {
  text-align: center;
  justify-content: left;
}

.read_bar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.check_list {
  border-radius: 4px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border: #DFDFDF 1px solid;
}

.blogpost_list {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}

.blog_post_text_glue {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #C4C4C4;
  text-align: center;
}

.blog_titles {
  position: relative;
  bottom: 120px;
  margin-left: 30px;
}

.gluebox {
  position: relative;
}

.glue_title {
  position: absolute;
  bottom: 0;
  left: 100;
  z-index: 1;
  /* Add any other styles for the glue_title div */
}

.blog_button {
  color: #2FA500;
  width: 179px;
  height: 48px;
  border: 1px solid #2FA500;
  border-radius: 5px;
}

.chldfilter {
  margin-top: 32px;
}

.blog_button_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.child_filter {
  font-size: 20px;
  font-weight: 500;
}

.hiring_small_link {
  color: #5E5E5E;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .blog_post {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.article_icon {
  height: 30px;
  width: 30px;
  margin-right: 19px;
}

.harmer {
  margin-bottom: 35px;
}

.share {
  padding: 24px;
  width: 300px;
}

.share_text {
  margin-bottom: 12px;
}

.offer_service {
  margin-top: 35px;
  padding: 40px 24px;
}

.offer_your_services {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.cta_professinal {
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  font-size: 14px;
  font-weight: 600;
  background-color: #2FA500;
  height: 32px;
  padding-top: 5px;
  border-radius: 5px;
  width: 244px;
}

.professiona_cta {
  background-color: #F6F6F6;
}

.plumm {
  max-width: 600px;
}

.shade_price {
  position: relative;
  bottom: 30px;
  height: 30px;
  width: 187px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 5px 5px;
}

.cta_pro_text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.offer_your_services_subtext {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.key_point {
  max-width: 800px;
}

.professiona_post {
  background-color: #F9FDF7;
}

.blog_image {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px) {
  .filter_blog {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .shade_price {
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 137px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 5px 5px;
  }
}
@media only screen and (max-width: 768px) {
  .pricing_trdes {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  .article_content {
    margin-right: 90px;
    font-size: 16px;
  }
  .share {
    padding: 10px;
    width: 300px;
  }
  .blog_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blog_contain {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .gluebox {
    margin-top: 25px;
  }
  .blogpost_list {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .pricing_trdes {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .shade_price {
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 187px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 5px 5px;
  }
  .filter_blog {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .baby {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .iron {
    height: 455px;
    width: 611px;
    border-radius: 8px;
  }
  .share_icons {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .blog_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .article_content {
    margin-right: 0px;
    font-size: 16px;
  }
  .share {
    padding: 10px;
    width: 300px;
    margin-top: 60px;
  }
  .chldfilter {
    margin-top: 22px;
  }
  .blog_in {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: #DFDFDF 1px solid;
    width: 354px;
    height: 48px;
  }
  .article_grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .article_header {
    font-size: 22px;
    font-weight: 600;
    margin-top: 35px;
  }
  .child_filter {
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 375px) {
  .blog_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .article_content {
    margin-right: 0px;
    font-size: 16px;
  }
  .share {
    padding: 10px;
    width: 300px;
    margin-top: 60px;
  }
  .blog_in {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: #DFDFDF 1px solid;
    width: 304px;
    height: 40px;
  }
  .article_grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .article_header {
    font-size: 22px;
    font-weight: 600;
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1600px) {
  .blog_header_div {
    margin-left: auto;
  }
  .blog_header_div_ri {
    margin-right: auto;
  }
}
.service_head {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.service_head {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  background-color: #F6F6F6;
}

.service_head_text {
  font-size: 52px;
  font-weight: 700;
}

.service_sub_text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
}

.service_consume_head {
  font-size: 24px;
  font-weight: 600;
}

.section_servi {
  max-width: 600px;
}

.introduction_tabs {
  margin-right: 130px;
}

.tabs_menu {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.about_img {
  background-image: url("/family.png");
  background-size: cover;
  background-position: center;
  height: 690px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.ab_head {
  margin-top: 56px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.aboutUs_texts {
  max-width: 550px;
  padding-bottom: 64px;
}

.misson_head {
  font-size: 40px;
  font-weight: 600;
  margin-top: 56px;
}

.misson_sub {
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 56px;
}

.misson_block {
  max-width: 500px;
}

.abt_rating {
  background-color: #FFFBF5;
  margin-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.about_value {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.abt_rating {
  text-align: center;
}

.sheild {
  width: 45px;
  height: 40px;
}

.greencard {
  padding-top: 35px;
  padding-left: 24px;
  padding-bottom: 24px;
  background-color: #F0FFEB;
  max-width: 800px;
}

.greenHead {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 25px;
}

.abt_head {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}

.about_opening_btn {
  font-size: 16px;
  font-weight: 500;
  width: 292px;
  height: 48px;
  background-color: #2FA500;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
}

.abt_join_tetx {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.join_text {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.about_join_us {
  padding-top: 64px;
  background-color: #FAFAFA;
  margin-top: 80px;
  text-align: center;
}

.abt_h {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .ab_head {
    margin-top: 56px;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .abt_rating {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 425px) {
  .abt_rating {
    display: flex;
    flex-direction: column;
  }
  .join_text {
    font-size: 15px !important;
    font-weight: 400 !important;
  }
  .misson_sub {
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 56px;
  }
  .misson_head {
    font-size: 30px;
    font-weight: 600;
    margin-top: 56px;
  }
  .value_company {
    display: flex;
    flex-direction: column;
  }
  .ab_head {
    margin-top: 56px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
.connect_bg {
  background-image: url("/shake.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.connect_head {
  color: white;
  font-size: 52px;
  font-weight: 700;
}

.desk_items {
  padding: 32px;
  background-color: #F6F6F6;
}

.trad_path {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.desk_theme {
  max-width: 600px;
}

.desk_head_trade {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.desk_head {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.connect_Sub {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.conntect_toggle {
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}

.toggle_options_connect {
  margin-top: 57px;
}

.green_line {
  border: 1px solid #2FA500;
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .green_line {
    border: 1px solid #2FA500;
    width: 150px;
  }
  .desk_items {
    flex-direction: column;
  }
  .desk_theme {
    margin-bottom: 20px;
  }
  .sub_logo {
    height: 25px;
  }
  .trad_path {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 425px) {
  .connect_head {
    color: black;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 700;
  }
  .connect_Sub {
    font-size: 16px;
    font-weight: 400;
    color: black;
  }
  .connect_bg {
    background-image: none !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 0px !important;
    padding-top: 10px !important;
  }
  .catalogue_bg {
    background-image: none;
    background-size: cover;
    background-position: center;
    padding-left: 0px;
    padding-top: 20px;
  }
  .green_line {
    border: 1px solid #2FA500;
    width: 70px;
  }
  .conntect_toggle {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
  }
  .connect_icon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .sub_logo {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .green_line {
    border: 1px solid #2FA500;
    width: 70px;
  }
  .conntect_toggle {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
  }
}
.earner_bg {
  background-image: url("/screen.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.connect_bg {
  background-image: url("/shake.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.information {
  margin-top: 64px;
  font-size: 32px;
  font-weight: 700;
}

.info_text {
  font-size: 20px;
  font-weight: 700;
}

.info_text_head {
  font-size: 20px;
  font-weight: 700;
}

.afil_card {
  max-width: 400px;
}

.affiate {
  font-size: 20px;
  font-weight: 700;
}

.handy_text {
  padding: 50px 100px 80px;
}

@media only screen and (max-width: 425px) {
  .earn_grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .handy_text {
    padding: 0px 0px 0px;
  }
  .cons_button {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .hand_div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
.prof {
  background-image: url("/profesiion.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.prof_land_text {
  max-width: 350px;
}

.prof_land_text_head {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.pro_hero {
  height: 48px;
  color: white;
  width: 200px;
  font-weight: 600;
  background-color: #2FA500;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 12px;
}

.professional_card {
  margin-top: 150px;
}

.join_prof {
  padding-top: 70px;
  padding-left: 110px;
  padding-bottom: 200px;
}

.join_prof_texts {
  max-width: 400px;
}

.hero_texts {
  max-width: 400px;
}

.pro_faq {
  text-align: center;
  margin-bottom: 70px;
}

.professional_faq {
  margin-left: 10%;
  margin-right: 10%;
}

.community_card {
  margin-top: 180px;
}

@media only screen and (max-width: 1024px) {
  .secure {
    font-weight: 700;
    line-height: 40px;
    font-size: 26px;
    margin-top: 64px;
  }
  .card_header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .card_item {
    max-width: 400px;
    text-align: left;
  }
  .join_prof {
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 200px;
  }
  .phone {
    width: 350px;
    margin-top: 80px;
  }
  .phone_text {
    margin-left: 50px;
  }
  .phone_frame {
    margin-top: 106px;
    background-color: #2E2E2E;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 15px;
    align-content: baseline;
  }
  .access {
    font-size: 33px;
    font-weight: 700;
    line-height: 48px;
    color: white;
    margin-bottom: 15px;
    margin-top: 101px;
  }
}
@media only screen and (max-width: 768px) {
  .abt_h {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .pro_card_rev {
    display: flex;
    flex-direction: column-reverse;
  }
  .professional_card {
    margin-top: 60px;
  }
  .community_card {
    display: flex;
    flex-direction: column;
  }
  .community_card {
    margin-top: 70px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .join_prof {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
  }
  .phone_frame {
    margin-top: 106px;
    background-color: #2E2E2E;
    padding-left: 0;
    padding-right: 0px;
    border-radius: 15px;
  }
  .phone_text {
    margin-left: 30px;
  }
  .phone_frame {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
  }
  .cape {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .get_started {
    text-align: center;
  }
  .secure {
    font-weight: 700;
    line-height: 40px;
    font-size: 26px;
    margin-top: 4px;
    text-align: center;
  }
  .phone_frame {
    margin-bottom: 40px;
  }
  .access_button {
    margin-left: auto;
    margin-right: auto;
  }
  .prof_land_text_head {
    margin-top: 20px;
    font-size: 20px;
  }
  .join_text {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  .pro_hero {
    margin-left: auto;
    margin-right: auto;
  }
  .prof {
    background-image: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 60px;
  }
  .card {
    margin-top: 56px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 375px) {
  .phone {
    width: 330px;
    margin-top: 80px;
  }
  .hero_header {
    font-size: 25px;
    font-weight: 700;
  }
}
.catalogue_bg {
  background-image: url("/finger.png");
  background-size: cover;
  background-position: center;
  height: 529px;
  padding-left: 100px;
  padding-top: 104px;
  padding-left: 104px;
}

.service_professional {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}

.service_professional_subtexts {
  font-size: 18px;
  font-weight: 400;
}

.catalogue_header {
  max-width: 700px;
}

.seivexe_div {
  width: 380px;
  margin-bottom: 5px;
}

.plus_sign {
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 425px) {
  .catalogue_bg {
    background-image: none;
    background-size: cover;
    background-position: center;
    padding-left: 0px;
    padding-top: 20px;
  }
  .service_professional_subtexts {
    margin-top: 30px;
    text-align: center;
  }
  .service_professional {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .cons_button {
    margin-left: auto;
    margin-right: auto;
  }
  .hiring_carfd {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .catalogue_btn {
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
.message_header {
  height: 80px;
}

.back_arrow {
  height: 20px;
  width: 20px;
}

.back_arrow_div {
  width: 35px;
  height: 35px;
  padding: 8px;
  border: 1px solid rgb(212, 206, 206);
  margin-bottom: 40px;
  border-radius: 5px;
}

.stages_text {
  position: relative;
  bottom: 5px;
}

.stage_line {
  height: 70px;
  width: 5px;
  background-color: black;
  margin-left: 5px;
}

.stage_line_inacive {
  height: 70px;
  width: 5px;
  background-color: #DFDFDF;
  margin-left: 5px;
}

.loaded_message {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin-right: 15px;
}

.loaded_message_inactive {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #747474;
  margin-right: 15px;
}

.message_content {
  margin-top: 48px;
}

.post_header {
  margin-left: 280px;
  font-size: 24px;
  font-weight: 700;
}

.message_form {
  color: #4B4B4B;
  width: 608px;
}

.message_input {
  background-color: #FAFAFA;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  height: 48px;
  border: #DFDFDF 1px solid;
}

.job_btn {
  height: 48px;
  text-align: center;
  width: 100%;
  background-color: #CCCCCC;
  border-radius: 8px;
  padding-top: 13px;
}

.modal_head {
  font-size: 20px;
  font-weight: 600;
}

.modal_head_minus {
  font-size: 30px;
  font-weight: 500;
}

.message_input_des {
  background-color: #FAFAFA;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  height: 80px;
  border: #DFDFDF 1px solid;
}

.grayBg {
  background-color: rgba(185, 185, 185, 0.5019607843);
}

.message_form {
  margin-left: 180px;
}

.cart_arrow {
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
}

.form_text {
  font-size: 16px;
  font-weight: 500;
}

.modal {
  padding: 20px;
  background-color: white !important;
  width: 410px;
  height: 610px;
  position: relative;
  bottom: 400px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
}

.local_icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.outer_ring {
  border: 1px solid #CCCCCC;
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_ring {
  border-radius: 50%;
  background-color: #2FA500;
  height: 15px;
  width: 15px;
  margin-left: 0.9px;
}

.location_button {
  height: 48px;
  text-align: center;
  width: 100%;
  background-color: #2FA500;
  border-radius: 8px;
  padding-top: 13px;
  color: white;
}

.address_shade_text {
  font-size: 14px;
  color: #4B4B4B;
}

.image_upload {
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-content: center;
  width: 140px;
  height: 111px;
  background-color: #F6F6F6;
  border-radius: 5px;
  border: 1px rgb(99, 98, 98) dotted;
}

.upload_image_texts {
  text-align: center;
  margin-top: 10px;
}

.job_position {
  padding-top: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: white;
  height: 70px;
  margin-top: 20px;
  width: 700px;
  padding-left: 20px;
  border: 1px solid rgb(206, 200, 200);
}

@media only screen and (max-width: 768px) {
  .job_position {
    padding-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: white;
    height: 70px;
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid rgb(206, 200, 200);
  }
  .opening {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=globals.css.map */