.catalogue_bg{
    background-image: url('/finger.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 104px;
}
.service_professional{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}
.service_professional_subtexts{
    font-size: 18px;
    font-weight: 400;
}
.catalogue_header{
    max-width: 700px;
}
.seivexe_div{
    width: 380px;
    margin-bottom: 40px
}.plus_sign{
    font-size: 20px;
    font-weight: 700;
}