.hiring_header_text {
    font-size: 40px;
    font-weight: 600;
}

.hiring_header {
    padding-top: 64px;
    text-align: center;
  padding-bottom: 64px;
    background-color: #F9FDF7;
}

.hiring_subTxt {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.hiring_carfd {
    margin-top: 40px;
    margin-bottom: 64px;
}
.services_text{
    font-weight: 500;
    margin-top: 15px;
}
.opening{
    background-color: #FAFAFA;
    padding-top: 64px;
}
.job_position{
    padding-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: white;
    height: 70px;
    margin-top: 20px;
    width: 700px;
    padding-left: 20px;
    border: 1px solid rgb(206, 200, 200);
}
.current_opein{
    font-size: 40px;
    font-weight: 700;
}