.hiring_header_text {
    font-size: 40px;
    font-weight: 600;
}

.hiring_header {
    padding-top: 64px;
    text-align: center;
  padding-bottom: 64px;
    background-color: #F9FDF7;
}

.hiring_subTxt {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.hiring_carfd {
    margin-top: 40px;
    margin-bottom: 64px;
}
.services_text{
    font-weight: 500;
    margin-top: 15px;
}
.opening{
    background-color: #FAFAFA;
    padding-top: 64px;
}

.current_opein{
    font-size: 40px;
    font-weight: 700;
}