
.prof {
    background-image: url('/profesiion.png');
    background-size: cover;
    background-position: center;
    height: 529px;
    padding-left: 100px;
    padding-top: 104px;
    padding-left: 104px;

}
.prof_land_text{
    max-width: 350px;
}
.prof_land_text_head{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.pro_hero{
    height: 48px;
    color: white;
    width: 200px;
    font-weight: 600;
    background-color: #2FA500;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 12px;
}
.professional_card{
    margin-top: 150px;
}
.join_prof{
    padding-top: 168px;
    padding-left: 110px;
    padding-bottom: 200px;
}
.join_prof_texts{
    max-width: 400px;
}
.pro_faq{
    text-align: center;
    margin-bottom: 70px;
}
.professional_faq{
    margin-left: 10%;
    margin-right: 10%;
}